* {
    font-family: "Cera Pro", sans-serif;
}

header {
    overflow: hidden;
}
header .game_zone {
    background-color: #fff;
    width: 100%;
    height: 55px;
    padding-left: 30px;
    padding-top: 16px;
}
.game_zone a {
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 11px;
}

.game_zone svg {
    transform: rotate(180deg);
    width: 16px;
    margin-top: -2px;
    margin-right: 5px;
}

header .top_menu {
    background-color: #ffd502;
    padding: 10px;
    width: 100%;
    height: 75px;
    overflow: hidden;
    padding-left: 30px;
}

.links {
    text-decoration:none;
    color: black;
    padding-top: 29px;
    padding-left: 65px;
}

.img_container,
.main_imag {
    justify-content: center;   
    display: flex;
    flex-wrap: wrap;
}

.img_container a {
    color: black;
    text-decoration: none;
}


.img_container div {
    width: 120px;
    padding-left: 1px;
    float: left;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.main_imag div {
    width:400px;
    height: 387px;
    padding-left: 1px;
    float: left;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.main_imag a p {
    width:400px;
    height: 387px;
    padding-left: 1px;
    float: left;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.main_imag  p {
 font-size: -12px;
}
.main_imag a {
    text-align: center;
    margin: 10px;

}

.main_imag svg {
    width: 10px;
    margin-top: -3px;
}

.main_imag a {
    color: black;
    text-decoration: none;
}
.img_container img {
    float: left;
}

.main_img {
    background: #000 url(../img/lego_star_wars.webp) no-repeat center center;
    width:100%;
    min-height: 400px;
    background-size: 100%;
    padding-left: 110px;
    letter-spacing: 1.2px;
}

.main_img img {
    width: 115px;
    margin: 60px 0 0 0;
}

.lego {
    color: white;
    font-size: 38px;
    font-family: "Cera Pro", sans-serif;
    margin-top: 20px;
    line-height: 40px;
}

.legos {
    color: #fff;
    font-size: 17px;
    padding-top: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 200;
}

.button-container {
    margin-top: 34px;
}

.button-container a {
    background-color: white;
    text-decoration: none;
    background-size: 30%;
    color: black;
    font-family: "Cera Pro", sans-serif;
    padding: 15px 25px;
    font-size: 14px;
    margin-right: 15px;
}

.border_radius {
    border-radius: 3px;
}

.button-container a svg {
    width: 10px;
    margin-top: -3px;
}

header .menu {
    margin-top: 18px;
}

.menu .links {
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

header .menu > div {
    float: left;
}

header .logo-container {
    width: 55px;
    height: 55px;
    float: left ;
}

.logo-container img {
    width: 100%;
}

.games_zone {
    background-color: #abd9ff;
    text-decoration:none;
}

.float_right {
    float: right;
}

.logo_blogo {
    padding: 10px;
}

.icons {
    padding-left: 120px;
    font-family: "Cera Pro", sans-serif;
    color: black;
    text-decoration: none;
}

.rd {
    padding: 50px;
    font-family: "Cera Pro", sans-serif;
    color: black;
    text-decoration: none;
}

.nm {
    float: right;
    width: 360px;
    height: 213px;
    margin-top: 40px;
    padding: 2.5px 1.25px;
}

.main_imag img {
    width: 414px;
    height: 289px;
}

.main-img div {
    width:550px;
    padding-left: 1px;
    text-align: center;
    margin: 30px;
    display: flex;
    float: left;
    flex-direction: column;
    margin-left: 90px;

}

.main-img a svg {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 10px;
    margin-top: -3px;
}

.main-img a {
    text-align: center;
    color: black;
    text-decoration: none; 
}

.h {
    float: right;
}

.t {
    border-radius: 5px;
    padding: 18px;
    float: right;
    color: white;
    text-decoration: none;
    background-color: black;
}

.gh {
    width: 10px;
    margin-top: -3px;
}
.main-imag {
    width:400px;
    margin-left: 11px;
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;

}


.get-more {
    width: 100%;
    overflow: hidden;
}


.img-block div {
    width:312px;
    margin-left: 11px;
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.vlog {
    background: white url(../img/City-Home-202201-Hero-Short-Large.webp) no-repeat center center;
    width:100%;
    min-height: 400px;
    background-size: 100%;
    letter-spacing: 1.2px;
    overflow: hidden;
}

.vlog a {
    border-radius: 5px;
    padding: 18px;
    width: 10px;
    margin-top: -3px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-right: 15px
}

footer {
    background-color: #201d48;

}


.main-footer > div {
    background-color: #000;
    width:200px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.main-footer a {
    color: #fff;
    text-decoration: none;
}

.main-footer svg {
    width: 10px;
    margin-top: -3px;
    color: white;
}

.main-footer {
    background: black;
    width:100%;
    min-height: 400px;
    background-size: 100%;
    padding-left: 100px;
    letter-spacing: 1.2px;
    margin-top: 247px;
}

.main-footer h1 {
    float: left;
}

.dash {
    float: right;
}

.main-footer div {
    width: 220px;
    padding-left: 1px;
    float: left;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.height {
    font-size: 12px;
}

.main-footer h1 {
    float: left;
}

.p-footer {
    color: #fff;
}
